{% extends 'static/template.html' %}

{% block content %}
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Assignment - 1</h1>
      <p>Enterprise System Technologies and Architectures</p>
      <p>Reg No - ICT/17/B2/13</p>
      <p>Name - K.G Nadeen Sumudujith</p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Department</h2>
        <p><a class="btn btn-secondary" href="/employee" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Employee</h2>
        <p><a class="btn btn-secondary" href="/department" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Assigner</h2>
        <p><a class="btn btn-secondary" href="/assigner" role="button">View details &raquo;</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->
{% endblock %}